<div>
  <p class="text-green-600 px-2 rounded-sm bg-green-100 inline-block"><%= notice %></p>

  <%= render @cart %>

  <div class="flex justify-around align-center gap-8 mt-4">
    <%= link_to "Edit this cart", edit_cart_path(@cart) %>
    <%= link_to "Back to carts", carts_path %>

    <%= button_to "Destroy this cart", @cart, method: :delete %>
  </div>
</div>
